<div class="flex w-full flex-auto flex-col">
    <div class="mx-auto flex w-full max-w-screen-xl flex-wrap p-6 md:p-8">

        <div class="mt-8 grid w-full grid-cols-1 gap-8 sm:grid-cols-2 lg:grid-cols-3">
            <div
                class="bg-card flex flex-auto flex-col overflow-hidden rounded-2xl p-6 shadow sm:col-span-3 lg:col-span-4">
                <div class="m-6 mb-0 flex items-start justify-between">
                    <div class="truncate text-lg font-medium leading-6 tracking-tight">
                        Transaction Analysis
                    </div>
                    <app-network-graph></app-network-graph>
                </div>
            </div>
        </div>

        <div class="mt-8 grid w-full grid-cols-1 gap-8 sm:grid-cols-2 lg:grid-cols-3">
            <div class="bg-card flex flex-auto flex-col overflow-hidden rounded-2xl shadow sm:col-span-2 lg:col-span-1">
                <div class="m-6 mb-0 flex items-start justify-between">
                    <div class="truncate text-lg font-medium leading-6 tracking-tight">
                        Transaction Analysis
                    </div>
                    <div class="ml-2">
                        <app-network-graph></app-network-graph>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>